//fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Train+One&display=swap');
//color

$background-color: #12372A;
$second-color: #436850;
$light-green-color: #ADBC9F;
$beige-txt-color: #FBFADA;

@mixin blur-effect {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 40vh;
    pointer-events: none; 
    z-index: 3;
}

@mixin font-title{
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
}

@mixin backgroundImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.txt-main-style{
    @include font-title;
    color: $beige-txt-color;
    font-weight: bolder;
    text-transform: uppercase;
  }

  .btn {
    height: 3rem;
    width: 15rem;
    margin-top: 3rem;
    background-color: $second-color;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    cursor: pointer;
    box-shadow:
      0 0 10px antiquewhite,
      0 0 10px antiquewhite;
  }

  .btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
  }

  //surfacing effects 

  .surfacing{
    transform: translateX(50px);
    transition: all 0.5s ease;
  }

  .surfacing.show {
    opacity: 1;
    transform: translateY(0);
  }

  //buttom back to up page
  
  .back-to-top{
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: $light-green-color;
    color:white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }

  .back-to-top:hover{
    opacity: 1;
    box-shadow: 0px 5px 31px 13px rgba(239, 241, 243, 0.2);
  }
